body {
    margin-left: 20px;
    margin-right: 20px;
}

/* Estilos generales que se aplican a todas las pantallas */
.header {
    width: 90vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

.navbar-brand {
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Asegura que el botón del menú siempre esté visible */
.navbar-toggler {
    display: block;
    /* Mantener visible en todas las pantallas */
}

/* Muestra el menú cuando se expande */
.navbar-collapse {
    display: none !important;
    /* Ocultar por defecto */
}

.navbar-collapse.show {
    display: block !important;
    /* Mostrar cuando está expandido */
}

/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: rgba(255, 255, 255, 0.5);
    /* Fondo blanco Traslucido */
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    /* Fondo blanco traslucido */
    min-width: 160px;
    box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.sub-dropdown {
    position: relative;
}

.sub-dropdown-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}

.sub-dropdown:hover .sub-dropdown-content {
    display: block;
}

img {
    margin-right: 10px;
}

/*Damos diseño al formulario*/

.formulario {
    background-color: orange;
    padding: 20px;
    border-radius: 10px;
    width: 90vw;
    margin: 0 auto;
    /*Centra el formulario a la página*/
}

.formulario h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Centramos los elementos en el formulario*/
}

fieldset {
    background-color: black;
    border: none;
    border-radius: 10px;
    width: 80vw;
}

.input_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    width: 80vw;

}

.input_container label {
    color: white;
}

.input_container input {
    width: 30vw;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(249, 248, 248, 0.854);
}

.input_container textarea {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(249, 248, 248, 0.854);
}

.input_container button {
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(249, 248, 248, 0.854);
}

button {
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    transform: scale(1.1);
}


/*Damos diseño al footer*/

.foot {
    width: 90vw;
    background-color: black;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
}

.foot h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#phone {
    display: inline-flex;
}

#phone p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 10px;
}

#cellphone {
    display: inline-flex;
}

#cellphone p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 10px;
}

#legalConditions {
    text-align: center;
}

#legalConditions a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;

}

#location {
    text-align: center;
}

#location p {
    color: white;
}

/*Damos formato para las tablets*/

@media screen and (min-width: 750px) and (max-width:870px) {
    .foot {
        width: 90vw;
        margin-left: 34px;
        margin-right: 10px;
    }
}

/*Damos formato para las pantallas grandes*/

@media screen and (min-width: 900px) and (max-width:3270px) {
    .foot {
        width: 90vw;
        margin-left: 70px;
        margin-right: 10px;

    }
}