body {
    margin-left: 20px;
    margin-right: 20px;
}

/* Estilos generales que se aplican a todas las pantallas */
.header {
    width: 90vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

.navbar-brand {
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Asegura que el botón del menú siempre esté visible */
.navbar-toggler {
    display: block;
    /* Mantener visible en todas las pantallas */
}

/* Muestra el menú cuando se expande */
.navbar-collapse {
    display: none !important;
    /* Ocultar por defecto */
}

.navbar-collapse.show {
    display: block !important;
    /* Mostrar cuando está expandido */
}

/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: rgba(255, 255, 255, 0.5);
    /* Fondo blanco Traslucido */
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    /* Fondo blanco traslucido */
    min-width: 160px;
    box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.sub-dropdown {
    position: relative;
}

.sub-dropdown-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}

.sub-dropdown:hover .sub-dropdown-content {
    display: block;
}

img {
    margin-right: 10px;
}

/*Damos desarrollo a la imagen principal*/

#backgroundDiv {
    width: 90vw;
    background-image: url("../media/imagen-justicia.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 700px;
    color: white;
    /*Es el color del texto.*/
    text-align: center;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

#changingText {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    top: 50%;
    /*Ajusta la posición vertical del texto*/
    left: 50%;
    /*Ajusta la posición horizontal del texto.*/
    transform: translate(-50%, -50%);
    /*Nos permite posicionar un elemento en el centro tanto horizontal como verticalmente dentro del contenedor.*/
    font-size: 24px;
}

/*Estilos de la sección secundaria*/

.title h1 {
    text-align: center;
}

.section {
    width: 90vw;
    padding: 20px;
    background-color: orange;
    border-radius: 5%;
    margin: 0 auto;
    /*centra la sección*/
    max-width: 1200px;
    /*Limitar el ancho máximo*/
    align-items: start;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 300px;
    box-sizing: border-box;
    padding: 10px;
    /*Añade espcacio interno*/
    margin-top: 10px;
}

.card img {
    width: 100%;
    /*Asegura que la imagen no sea más ancha que su contenedor*/
    height: 150px;
    /*Mantiene la proporción de la imagen*/
    object-fit: cover;
    margin-bottom: 10px;
    /*Añade espacio debajo de la imagen*/
}

.card-body {
    flex-grow: 1;
    /*Permite que el cuerpo de la tarjeta ocupe el espacio restante*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.card-text {
    margin: 0;

}

.card a {
    font-weight: bold;
}

/*Diseño de la barra de los móviles, email y ubicación*/

.options {
    width: 90vw;
    display: inline-flex;
    justify-content: space-between;

}

.options,
.phone,
.email,
.ubication {
    width: 80vw;
    margin-top: 10px;
    margin-left: 30px;
}

/*Damos estilo al whatsap*/

.icono_whatsapp {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    transition: opacity 0.5s;
}

.icono_whatsapp a {
    display: block;

}

/*Damos diseño al footer*/

.foot {
    width: 90vw;
    background-color: black;
    border-radius: 5%;
    text-align: center;

}

.foot h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#phone {
    display: inline-flex;
}

#phone p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 10px;
}

#cellphone {
    display: inline-flex;
}

#cellphone p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 10px;
}

#legalConditions {
    text-align: center;
}

#legalConditions a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;

}

#location {
    text-align: center;
}

#location p {
    color: white;
}

/*Media query monitores grandes*/

@media screen and (min-width: 700px) and (max-width: 3270px) {

    body {
        margin-left: 20px;
        margin-right: 20px;
    }

    /*Estilo del Whatsap*/

    .icono_whatsapp {
        margin-left: 60px;
    }

    /*Estilo de la sección secundaria*/

    .section {
        width: 100%;
        background-color: orange;
        padding: 20px;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        align-items: start;
        max-width: 3270px;

    }

    .card {
        width: 100%;
        height: auto;
        justify-content: space-between;
        /*Fija la altura de las tarjetas*/
        margin-top: 50px;

    }

    .card img {
        height: 300px;
        /*Fija una altura para las imágenes*/
        margin-left: 10px;
        margin-left: 10px;
        object-fit: cover;
    }


    /*Estilo del footer*/

    .foot {
        width: 100%;
        max-width: 3270px;

    }

    .options {
        width: 90vw;
        justify-content: space-between;

    }

    .options,
    .phone,
    .email,
    .ubication {
        width: 90vw;
        margin-left: 140px;
    }

}

/*Damos formato para tablets*/

@media screen and (min-width:750px) and (max-width:870px) {

    /*Esta es la parte del código en la que van las cards*/

    .section {
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 20px;
        padding-right: 20px;
    }

    .card {
        height: auto;
        margin-right: 20px;
    }

    .card img {
        height: 150px;
    }

    /*Diseños del footer*/

    .foot {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    .options {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    .options,
    .phone,
    .email,
    .ubication {
        margin-left: 40px;
    }

}