body {
    margin-left: 20px;
    margin-right: 20px;
}

/* Estilos generales que se aplican a todas las pantallas */
.header {
    width: 90vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

.navbar-brand {
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Asegura que el botón del menú siempre esté visible */
.navbar-toggler {
    display: block;
    /* Mantener visible en todas las pantallas */
}

/* Muestra el menú cuando se expande */
.navbar-collapse {
    display: none !important;
    /* Ocultar por defecto */
}

.navbar-collapse.show {
    display: block !important;
    /* Mostrar cuando está expandido */
}

/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: rgba(255, 255, 255, 0.5);
    /* Fondo blanco Traslucido */
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    /* Fondo blanco traslucido */
    min-width: 160px;
    box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.sub-dropdown {
    position: relative;
}

.sub-dropdown-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}

.sub-dropdown:hover .sub-dropdown-content {
    display: block;
}

img {
    margin-right: 10px;
}

/*Damos desarrollo a la imagen principal*/

#backgroundDiv {
    width: 90vw;
    background-image: url("../media/imagen-justicia.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 700px;
    color: white;
    /*Es el color del texto.*/
    text-align: center;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

#changingText {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    top: 50%;
    /*Ajusta la posición vertical del texto*/
    left: 50%;
    /*Ajusta la posición horizontal del texto.*/
    transform: translate(-50%, -50%);
    /*Nos permite posicionar un elemento en el centro tanto horizontal como verticalmente dentro del contenedor.*/
    font-size: 24px;
}

/*Damos estilo al div secundary*/

.secundary {
    width: 90vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: orange;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*Crea tres columnas iguales*/
    gap: 20px;
    /*Espacio entre las columnas*/
    align-items: center;
    z-index: -1;

}

.secundary div {
    margin-top: 10px;
    text-align: center;
    /*Centra el contenido de cada div*/
}

/*Aquí va el div de la oficina*/

.office {
    width: auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;

}


.office img {
    width: 90vw;
    height: auto;
    border-radius: 50%;
    /*Otorga un aspecto ovalado a la imagen*/
    overflow: hidden;
    /*Ajusta la imagen al marco*/

}

.office p {
    width: auto;
    margin-top: 20px;
    font-size: x-large;

}

/*Aqui va el diseño del whyChoose*/

.whyChoose {
    width: auto;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: orange;
    border-radius: 5%;
}

.whyChoose img {
    width: 90vw;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}

.whyChoose p {
    width: auto;
    margin-top: 20px;
    font-size: x-large;
}

/*Ahora damos formato a la sección de servicios.*/

.service {
    width: 95vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex;
    /*Usamos flexbox para alinear los elementos*/
    flex-direction: column;
    /*alinea los elementos en columna*/
    align-items: center;
    /*Centra los elementos horizontalmente*/
    justify-content: center;
    /*Centra los elementos verticalmente*/
    text-align: center;
    padding: 40px;
    /*Centra el texto dentro de los elementos*/
    background-color: orange;
    border-radius: 5%;
}

.service .card {
    margin: 10px 0;
    /*Espaciado entre las tarjetas*/
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    /*Espaciado dentro de la tarjeta*/
    margin: 10px;
    /*Espaciado fuera de la tarjeta*/
}

.card img {
    max-width: 100%;
    /*Asegura que la imagen no sea más ancha que su contenedor*/
    height: auto;
    /*Mantiene la proporción de la imagen*/
    margin-bottom: 15px;
    /*Añade espacio debajo de la imagen*/
}

.card-body {
    max-width: 100%;
    /*Aseguramos que la imagen no sea más ancha que su contenedor*/
    height: auto;
    /*Mantiene la proporción de la imagen*/
    margin-bottom: 15px;
    /*Añade espacio debajo de la imagen*/
}

.service,
#card1,
#card2 {
    display: inline-block;
}

#card1 {
    margin-left: 100px;
    margin-right: 100px;
}

.card a {
    font-weight: bold;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

/*Damos formato al icono del whatsapp*/

.icono_whatsapp {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    transition: opacity 0.5s;
}

.icono_whatsapp a {
    display: block;

}

/*Damos diseño al footer*/

.foot {
    background-color: black;
    border-radius: 5%;
    margin-top: 10px;
    text-align: center;
}

.foot h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#phone {
    display: inline-flex;
}

#phone p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 10px;
}

#cellphone {
    display: inline-flex;
}

#cellphone p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 10px;
}

#legalConditions {
    text-align: center;
}

#legalConditions a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;

}

#location {
    text-align: center;
}

#location p {
    color: white;
}



@media (max-width:900px) {
    #backgroundDiv {
        width: 90vw;
        background-size: cover;
        background-position: center;
    }

    /*Ahora damos formato a los cards y al div service*/

    .service {
        width: 93vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }

    .service .card {
        margin: 10px 0;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 15px;
        margin: 10px;
    }

    .card img {
        max-width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    .card-body {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}